*{
    margin: 0;
}

body{
    background-color: aqua;
    background-size: 100%;
}

.topPage{ 

    display: flex;
    flex-direction: row-reverse;
    background-color: #0043CBff
}

@font-face {
    font-family: 'sfFont'; 
    src: url('../fontRendu/CityBrawlersBoldCaps.otf');
}

h1 {

    background-color: #0043CBff;
    font-family: 'sfFont';
    font-size: 462%;
    margin: auto;
    width: 17%;
    min-height: 10vh;
}

nav{
    
    line-height: 615%;
    min-height: 100vh;
    width: 22%;
    background-color: #AE962Fff;
}

.swiper-slide {
    height: 60vh;
}

.swiper-slide{
    text-align: center;
    font-size: 18px;

    display: flex;
    justify-content: center;
    align-items: center;
}



.millieuPage{

    display: flex;
} 

.salles{

    justify-content: center;
}

#sallesPrez{
    width: 71%;
    text-align: center;
    margin: 8%;

}

section{
    width: 90%;
    min-height: 100vh;
}

.metroCity{
    width: 50%;
}

.flexImages{
    display: flex;
    justify-content: space-around;
}

.nomVilles{
    display: flex;
    justify-content: space-around;
}

.textSlide{

    position: absolute;
    color: antiquewhite;
    -webkit-text-stroke: 1px #F8F8F8;
	text-shadow: 4px 1px 4px #0e1d02;
    font-size: 130%;
}
.textServices{
    position: absolute;
    left: 32%;

}

a{
    color: black;
}
